body {
  font-family: "Glober", sans-serif;
  font-weight: normal;
  font-size: 12px;
  min-width: 920px;
  max-width: 1440px;
  height: 3000px;
  margin: 0 auto;
  position: relative;
  -webkit-font-smoothing: antialised;
  letter-spacing: 1px;
}

/* header */
.container-hero a {
  color: #fff;
  font-weight: normal;
}

.menu-top {
  padding: 0 82px 0 444px;
  height: 26px;
  background: #3CA425;
}
.menu-top ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-top ul li {
  float: left;
  margin-right: 35px;
  margin-top: 6px;
}
.menu-top ul li:last-child {
  margin-right: 0;
}

.personal-area {
  float: right;
  height: 26px;
  padding: 6.5px 0 0 24px;
  background: url(../img/pa-icon.png) no-repeat left 1px top 5px;
}

.hero-wrapper {
  height: 90px;
  background: #FAFAFA;
}
.hero-wrapper .logo {
  float: left;
  padding: 28.5px 0 0 84px;
}

.call {
  float: left;
}
.call ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 20px 0 0 57px;
}
.call li {
  float: left;
  margin-bottom: -2px;
}
.call li:first-child {
  margin-right: 10px;
  letter-spacing: 0.49px;
}
.call a.more {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/phone.png) no-repeat right top -1px;
}
.call a.callback {
  padding: 5.5px 0 0 13px;
  color: #3CA425;
  display: inline-block;
  width: 134px;
  height: 27px;
  border: 1px solid #3CA425;
  border-radius: 5px;
}

form {
  float: left;
  margin: 15px 0 0 70px;
}
form .search {
  width: 407px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  background: url(../img/search.png) no-repeat left 10px top 5px;
}
form .submit {
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  width: 70px;
  height: 26px;
  border-radius: 5px;
  border: none;
  margin-left: 2px;
  padding-top: 5px;
  background: #3CA425;
}

.panel a {
  color: #383838;
  font-size: 10px;
  letter-spacing: 0.7px;
}

.compare {
  float: right;
  display: inline-block;
  margin: 25px 32px 0 0;
  position: relative;
  width: 30px;
  height: 27px;
  background: url(../img/compare.png) no-repeat center center;
}
.compare p {
  display: inline-block;
  position: absolute;
  left: -11px;
  top: 20px;
}

.heart {
  float: right;
  display: inline-block;
  margin: 25px 31px 0 0;
  position: relative;
  width: 30px;
  height: 25px;
  background: url(../img/heart.png) no-repeat center center;
}
.heart p {
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 20px;
}

.basket {
  font-size: 12px;
  float: right;
  display: inline-block;
  margin: 8px 83px 0 0;
  position: relative;
  width: 59px;
  height: 38px;
  background: url(../img/basket.png) no-repeat center center;
}
.basket p {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 30px;
}
.basket p.price {
  color: #67a623;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: -2px;
  top: 42px;
}
.basket p.price span {
  font-size: 16px;
}

.eclipse {
  color: #fff;
  font-size: 12px;
  padding-left: 6px;
  padding-top: 1px;
  position: absolute;
  top: -2px;
  right: -10px;
  width: 17px;
  height: 17px;
  background: url(../img/eclipse.png) no-repeat center center;
}

/* Content */
.container-content-top {
  padding-top: 11px;
  display: block;
}
.container-content-top .row {
  margin: 0;
}

.menu-left {
  float: left;
  margin-left: 90.5px;
}
.menu-left a {
  color: #7A7A7A;
}
.menu-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-left ul.heading {
  display: inline-block;
  width: 193px;
  border-bottom: 1px solid #DFDFDF;
}
.menu-left ul.heading li {
  float: left;
  display: inline-block;
  width: 74px;
  margin: 0 11px 2px -7px;
}
.menu-left ul.heading a {
  display: inline-block;
  width: 74px;
  padding: 9px 0 0 10px;
}
.menu-left ul.heading a.active,
.menu-left ul.heading a:hover {
  border-top: 2px solid #3CA425;
  padding-top: 7px;
}
.menu-left ul.list {
  display: inline-block;
  margin-top: -6px;
}
.menu-left ul.list li {
  height: 25px;
  width: 193px;
  padding-top: 8px;
  border-bottom: 1px solid #DFDFDF;
  letter-spacing: 0.6px;
}
.menu-left ul.list li:last-child {
  margin-bottom: 0;
}
.menu-left ul.list a {
  height: 25px;
}

.center-content {
  float: left;
  width: 788px;
  margin-left: 40px;
}
.center-content a {
  color: #7A7A7A;
}

ul.heading-center {
  display: inline-block;
  padding: 0;
  margin: 0;
}
ul.heading-center li {
  float: left;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 2px;
}
ul.heading-center li:nth-child(2) {
  margin-right: -2px;
}
ul.heading-center a {
  display: inline-block;
  width: 78px;
  padding: 7px 0 0 19px;
}
ul.heading-center a.active,
ul.heading-center a:hover {
  border-top: 2px solid #FFBA4D;
  padding-top: 6px;
}

.poster {
  height: 478px;
  margin-top: -5px;
  border: 1px solid #DFDFDF;
  padding-left: 40px;
}
.poster img {
  margin-top: -4px;
}

.button {
  width: 100px;
  margin: 5px auto 0 auto;
}
.button .left-btn {
  display: inline-block;
  margin-left: 15px;
  margin-right: 19px;
  width: 25px;
  height: 26px;
  background: url(../img/left-btn.png) no-repeat center center;
}
.button .right-btn {
  display: inline-block;
  width: 25px;
  height: 26px;
  background: url(../img/right-btn.png) no-repeat center center;
}

.left-btn:hover,
.right-btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.stock img {
  float: right;
  margin-right: 80px;
  margin-bottom: 20px;
}
.stock a:nth-child(2) img {
  margin-bottom: 30px;
}
.stock a:last-child img {
  margin-bottom: 0;
}

.content-menu {
  margin: 14px 0 0 43px;
}
.content-menu a {
  font-size: 18px;
  padding-top: 170px;
  display: inline-block;
  padding-left: 20px;
  margin: 0 18px 18px 0;
  width: 161px;
  height: 192px;
  letter-spacing: 1.6px;
}
.content-menu a:nth-child(2) {
  margin-right: 17px;
  padding-left: 25px;
}
.content-menu a:nth-child(3) {
  margin-right: 15px;
  padding-left: 9px;
  letter-spacing: 1.2px;
}
.content-menu a:nth-child(4) {
  margin-right: 13px;
  padding-left: 5px;
  letter-spacing: 1.1px;
}
.content-menu a:nth-child(5) {
  margin-left: 3px;
  margin-right: 16px;
  margin-bottom: 0;
  padding-top: 172px;
  padding-left: 17px;
}
.content-menu a:last-child {
  margin-right: 0;
  padding-left: 17px;
  margin-bottom: 0;
}
.content-menu .red {
  background: url(../img/product-1.jpg) no-repeat center top;
}
.content-menu .green {
  background: url(../img/product-2.jpg) no-repeat center top;
}
.content-menu .green-2 {
  background: url(../img/product-3.jpg) no-repeat center top;
}
.content-menu .green-3 {
  background: url(../img/product-4.jpg) no-repeat center top;
}

.container-content-bottom {
  padding-top: 35px;
  padding-left: 85px;
}
.container-content-bottom a {
  color: #7A7A7A;
}
.container-content-bottom a.active,
.container-content-bottom a:hover {
  color: #3EA526;
}

.product-menu {
  height: 26px;
  position: relative;
  z-index: 1;
}
.product-menu h2 {
  float: left;
  margin: 0;
  margin-top: 5px;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
}
.product-menu h2:after {
  content: "";
  height: 1px;
  margin-left: 15px;
  margin-top: 7px;
  position: absolute;
  width: 461px;
  background-color: #3EA526;
}
.product-menu .left-btn {
  display: inline-block;
  margin-right: 36px;
  margin-left: 498px;
  top: -5px;
  width: 25px;
  height: 26px;
  background: url(../img/left-btn.png) no-repeat center center;
}
.product-menu .right-btn {
  display: inline-block;
  width: 25px;
  height: 26px;
  background: url(../img/right-btn.png) no-repeat center center;
}
.product-menu h3 {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -7px;
  font-size: 17px;
  margin-right: 32px;
  letter-spacing: 0.3px;
}

a:nth-child(4) h3 {
  margin-right: 37px;
}

a:nth-child(5) h3 {
  margin-right: 38px;
}

.wrapper {
  padding-top: 28px;
  padding-left: 44px;
}
.wrapper .button {
  width: 100px;
  margin: 31px auto 0 auto;
}
.wrapper .button .left-btn {
  display: inline-block;
  margin-left: -52px;
  margin-right: 19px;
  width: 25px;
  height: 26px;
  background: url(../img/left-btn.png) no-repeat center center;
}
.wrapper .button .right-btn {
  display: inline-block;
  width: 25px;
  height: 26px;
  background: url(../img/right-btn.png) no-repeat center center;
}
.wrapper .view {
  float: right;
  margin: 0;
  margin-top: -33px;
  margin-right: 83px;
  border-radius: 5px;
  border: 1px solid #3DA529;
  color: #3DA529;
  padding: 6px 15px 4px 11px;
}

.product {
  margin-right: 18px;
  padding-top: 206px;
  float: left;
  position: relative;
  display: inline-block;
  width: 222px;
  border: 1px solid #DFDFDF;
  background: url(../img/prod-img.jpg) no-repeat left 72px top 46px;
}
.product .description {
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}
.product .name {
  letter-spacing: 0.7px;
  margin: 0;
  margin-left: 52.5px;
  margin-top: -1px;
}
.product .price {
  font-size: 20px;
  position: relative;
  color: #67a623;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  margin-top: 8px;
  margin-left: 68px;
}
.product .buy {
  font-size: 14px;
  margin-left: 59px;
  margin-top: 11px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 20px 4px 23px;
  background: #3EA526;
}
.product .buy:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: #69C14B;
}
.product .desc {
  margin: 0;
  letter-spacing: 0.5px;
  margin-left: 60px;
  margin-top: 5px;
}
.product .reviews {
  margin: 0;
  letter-spacing: 0.3px;
  margin-left: 76px;
  margin-top: 24px;
}
.product .stars-rew {
  display: inline-block;
  margin-left: 68px;
  margin-bottom: 22px;
}
.product .stars-rew .star,
.product .stars-rew .star-2 {
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: -1px;
}
.product .stars-rew .star {
  background: url(../img/star.png) no-repeat center center;
}
.product .stars-rew .star-2 {
  background: url(../img/star-2.png) no-repeat center center;
}
.product .new {
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 40px;
  height: 20px;
  background: url(../img/new.png) no-repeat center center;
}
.product .scales-2 {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 42px;
  width: 23px;
  height: 20px;
  background: url(../img/scales.png) no-repeat center center;
}
.product .heart-2 {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 10px;
  width: 23px;
  height: 19px;
  background: url(../img/heart-spline.png) no-repeat center top -19px;
}
.product .heart-2:hover {
  background: url(../img/heart-spline.png) no-repeat center top 0px;
}

.feature {
  display: none;
  font-size: 11px;
  letter-spacing: 0px;
}
.feature:before {
  content: "";
  height: 1px;
  margin-left: 20px;
  margin-top: 0px;
  position: absolute;
  width: 180px;
  background: #DDDDDD;
}
.feature p {
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}
.feature ul {
  list-style-image: url(../img/list-style.png);
  list-style-position: inside;
  font-size: 11px;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 18px;
  letter-spacing: 0.4px;
}
.feature a {
  text-align: right;
  text-decoration: underline;
  color: #35a800;
}
.feature a p {
  margin: 0;
  margin-top: 5px;
  letter-spacing: 0.2px;
}

.product:hover > .feature {
  display: inline-block;
}

#content-bottom-2 .container-content-bottom {
  padding-top: 23px;
  padding-left: 85px;
}
#content-bottom-2 .container-content-bottom h2:after {
  width: 537px;
}
#content-bottom-2 .container-content-bottom .left-btn {
  margin-left: 573px;
}
#content-bottom-2 .wrapper {
  padding-top: 28px;
  padding-left: 44px;
}
#content-bottom-2 .wrapper .button {
  margin: 37px auto 0 auto;
}
#content-bottom-2 .wrapper .button .left-btn {
  margin-left: -52px;
  margin-right: 19px;
}
#content-bottom-2 .wrapper .view {
  margin: 0;
  margin-top: -40px;
  margin-right: 83px;
}

#content-bottom-3 .container-content-bottom {
  padding-top: 12px;
  padding-left: 84px;
}
#content-bottom-3 .container-content-bottom h2:after {
  width: 1023px;
}
#content-bottom-3 .container-content-bottom .left-btn {
  margin-left: 573px;
}
#content-bottom-3 .wrapper {
  padding-top: 28px;
  padding-left: 44px;
}
#content-bottom-3 .wrapper .button {
  margin: 31px auto 0 auto;
}
#content-bottom-3 .wrapper .button .left-btn {
  margin-left: -52px;
  margin-right: 19px;
}
#content-bottom-3 .wrapper .view {
  margin: 0;
  margin-top: -36px;
  margin-right: 83px;
}

/*# sourceMappingURL=main.css.map */